<!-- <div class="mdiv">
    <div class="card" style="border: 0px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
        <h6 class="card-header d-flex" style="border: 0px; font-size: 18px;">Download App</h6>
        <div class="card-body">
        <img src="https://nammayatri.in/img/NammaYatriQR.svg" alt="">
        <p class="card-text">Scan the QR Code on your phone to download the app</p>
        </div>
    </div>
</div> -->
<div class="blur-background">
    <div class="card">
      <h6 class="card-header d-flex">Download App</h6>
      <div class="card-body">
        <img src="https://nammayatri.in/img/NammaYatriQR.svg">
        <p class="card-text">Scan the QR Code on your phone to download the app</p>
      </div>
    </div>
  </div>