<div class="sixth">
    <div class="containe">
        <div class="heading">
            <h1>
                Open, Hi-Tech,
                <br>
                Sustainable
            </h1>
            <hr >
        </div>

        <div class="info" style="position: relative; color: #868B98;">
            100% Open-Source and open data. Built on open mobility platform.
        </div>

        <!-- <div class="row line">
            <div class="col-md-4 box box1">
                <div class="insideBox1 insideBox d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div>
                            <p>Completed Trips</p>
                        </div>
                        <div>
                            <h3>4,82,53,065</h3>
                            <h6>1,37,854</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 box box2 ">
                <div class="insideBox2 insideBox d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div>
                            <p>Completed Trips</p>
                        </div>
                        <div>
                            <h3>4,82,53,065</h3>
                            <h6>1,37,854</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 box box3">
                <div class="insideBox3 insideBox d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div>
                            <p>Completed Trips</p>
                        </div>
                        <div>
                            <h3>4,82,53,065</h3>
                            <h6>1,37,854</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
       
        <!-- <div class="btnxx"> -->
        <div class="br justify-content-center d-flex justify-content-between w-100 g-4 scroll-container">

                <div class="bt bt1 insideBox1 insideBox d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div>
                            <p class="pcolor">Completed Trips</p>
                        </div>
                        <div>
                            <h3>4,82,53,065</h3>
                            <h6 class="hcolor">1,37,854</h6>
                        </div>
                    </div>
                </div>
            
            
                <div class="bt bt2 insideBox2 insideBox d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div>
                            <p class="pcolor">Enabled Drivers</p>
                        </div>
                        <div>
                            <h3>4,33,922</h3>
                            <h6 class="hcolor">957</h6>
                        </div>
                    </div>
                </div>
            
            
                <div class="bt bt2 insideBox3 insideBox d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div>
                            <p class="pcolor">Registered Users</p>
                        </div>
                        <div>
                            <h3>75,75,459</h3>
                            <div class="icon-container">
                                <h6 class="hcolor">18,832</h6>
                                <i class="bi bi-caret-up-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>

    <!-- </div> -->

        <div>
            <button class="btn btn-secondary firstButton ">Explore Open Data </button>
            <a class="btn btn-secondary secondButton" href="https://github.com/PratikPihulkar/Namma_Yatri_Clone">Visit Github</a>
        </div>

    </div>
</div>