<div class="eleven">
    <div class="w-full box">
        <div class="d-flex justify-content-between flex-md-row  flex-column">
            <div class="heading ">
                <h1 class=" mt-4 mb-4">Book and move,<br>
                    anywhere in the city</h1>
            </div>
            <div class="scanner d-none d-md-block d-sm-none ">
                <img src="https://nammayatri.in/img/NammaYatriQR.svg " alt="">
            </div>
            <div class="scanner2 d-md-none  d-flex justify-content-start gap-3">
            
                <a href="https://play.google.com/store/apps/details?id=in.juspay.nammayatri">
                    <img class="object-fit h-12" alt="playStore" src="https://nammayatri.in/logos/playStore.svg" style="height:80px; width: 120px;">
                </a>
                <a href="https://apps.apple.com/us/app/namma-yatri/id1637429831" >
                    <img class="object-fit h-12" alt="appStore" src="https://nammayatri.in/logos/appStore.svg" style="height:80px; width: 120px;">
                </a>
            </div>
        </div>
   
    
      <hr class="styled-hr" style="margin-top: 5rem;;">
            <div class="d-flex mt-5 flex-column flex-md-row row " style="position: relative; ">
                <div class="p-2 flex-fill col-md-2 col-sm-12"><h6>PRODUCT</h6>
                    <P>Rider us</P>
                    <p>Driver App</p>
                </div>
                <div class="p-2 flex-fill col-md-2 col-sm-12"><h6>ABOUT US</h6>
                    <p>Who We are</p>
                    <p>Privacy Policy</p>
                    <p>Terms of Use</p>
                </div>
                <div class="p-2 flex-fill col-md-3 col-sm-12"><h6>CONTACT</h6>
                    <p>For any complaints or concerns, please reach out to us at support.nammayatri.in</p>
                    <p>For redressal of grievances, please refer to Privacy Policy</p>
                    
                </div>
                <div class="p-2 flex-fill col-md-4 col-sm-12">
                    <p style="font-weight: 600; font-size: 15px;">Registered Address</p>
                    <p>Moving Tech Innovations Private Limited
                        IndiQube Garden Survey No.130, 18th Main, 1st A Cross, 6th Block, Grape Garden, Koramangala, Bengaluru, Karnataka 560095</p>
                    <p style="font-weight: 600; font-size: 15px;">Corporate Address</p>
                    <p>Moving Tech Innovations Private Limited
                        Girija Building, Number 817, Ganapathi Temple Rd, 8th Block, Koramangala, Bengaluru, Karnataka 560095, India.</p>
               
                </div>
            </div>
            <hr class="styled-hr">
            <div class="empty" style="position: relative; height: 50px;" align="center">
               <p>© Moving Tech Innovations Private Limited 2023 • All rights reserved</p>
            </div>
    </div>
</div>

