
<div class="secondBackground">
    <div class="containee">
    <div class="row gap-md-5 gap-sm-none mt-md-5">
        <div class=" col-md-6 col-sm-12">
           <h1 class="heading">
            By the Drivers <br>
            For the People
           </h1>
           <hr>
           <p class="para">A customer friendly app by drivers in collaboration with leading tech companies. Creating a symbiotic community.

           </p>
           <button class="btn btn-primary  d-none  d-md-block">Download the App</button>
        </div>
        <div class="rdiv col-sm-11 col-md-5 ">
            
        </div>
    </div>
    </div>
 </div>
    