
<div class="secondBackground">
    <div class="containee">
    <div class="row gap-md-5 gap-sm-none mt-md-5">
        <div class=" col-md-6 col-sm-12">
           <h1 class="heading">
            You pay less. <br>
            Drivers earn more.
           </h1>
           <hr>
           <p class="para">Namma Yatri is a Direct-to-Driver app. There is no commission or middle-men. What you pay goes 100% to the Driver and his family!</p>
           <button class="btn btn-primary  d-none  d-md-block" routerLink="downloadApp">Download the App</button>
        </div>
        <div class="rdiv col-sm-11 col-md-5 ">
            
        </div>
    </div>
    </div>
 </div>
    