.firstBackground{
   
    padding-top: 0vh;
    min-height: 80vh;
    /* background-image: url("src/assets/photos/homeBg.png"); */
    background-image: url("https://nammayatri.in/img/homeBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
@media screen and (min-width: 480px) {
    .firstBackground{
        position: relative;
        min-height: 100vh; 
    }
}
@media screen and (min-width:481px) and (max-width:768px) {
    .firstBackground{
        position: relative;
        min-height: 70vh;
    }
}



  .above{
    position: relative;
    border: 1px solid rgb(80, 225, 58);
    font-size:55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 560;

  /* color: rgb(252 195 44); */
  }    
  
  .information{
    position: relative;
    margin-top: 20px;
    border: 1px solid rgb(52, 68, 50);
    min-height: 50%;
    padding: 2%;
    font-size:22px ;
    
  }
  .downPara{
    line-height: 1.4;
  }
.btnn{
  border-radius: 20px;
  background-color: rgb(133, 136, 139);
  border: none;
  color: white;
  padding-left:10px;
  padding-right:10px;
  margin-right: 20px;
  margin-top: 20px;
  

}


  @media screen and (min-width: 480px)
{
    .heading{
        border: 2px solid red;
        float: left;
        display: inline; 
        padding-top: 5rem;
        text-align: left;
       
        
      }
      .above{
        position: relative;
        border: 1px solid rgb(58, 103, 225)
        
      }
      .information{
        position: relative;
        border: 1px solid rgb(52, 68, 50);
        min-height: 50%;
        padding: 2%;
        
      }
}




.imgdiv{
    border: 2px solid rgb(19, 13, 19);
   
    width: 100%;
   
    
}
@media screen and (min-width:480px) {
    .imgdiv{
        position: relative;
        border: 2px solid rgb(80, 195, 30);
        
        width: 35vw;
        height: 81vh;
        float: right;
        display: inline; 
    }
   
}
@media screen and (min-width:481px) and (max-width:768px) {
  .imgdiv{
    position: relative;
    border: 2px solid rgb(72, 213, 203);
   
    height: 55vh;
    float: right;
    display: inline; 
    bottom: 0px;
}
}





.nav{
    position: relative;
   background-color: transparent;
   height: 80px;
   
}
.marqueeNav{
    position: relative;
    height: 5.5vh;
    width: 100%;
    background-color: #111111;
    padding-left: 25vw;
    padding-right: 25vw;
    color:white
}
.downlodAppBtn{
  color:#000000;
  border: none;
  width:15rem;
  height:3rem
}

  
    @media screen and (min-width: 767px) {
  
    .nav{
        position: relative;
        margin-left: 10vw;
        margin-right: 10vw;
        /* top: 10vh; */
       
        height:13vh;
        min-height: 10vh;
        padding: 35px;
        
      }
  }
 
  




/* Navbar Bootstrao */

.navTag{
  width: 100%;
}
.marqueeNav{
  padding: 10px;
}
.marqueeNavContaint{
 
  margin: auto;
  overflow: hidden;
}
.ctnr{

  width: 60vw;
  margin: auto;

}
strong{
  opacity: 1;
}
.openDataBtn{
    border-radius: 20px;
    margin-left: 5px;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    color:white;
    white-space: nowrap;

    padding: 5px 10px;
    flex-shrink: 0; /* Prevents button from shrinking */
}
.openDataBtn:hover{
    background-color: white;
    color:rgb(0, 0, 0);
}
.hvImg{
    margin-left: 15px; 
    margin-right: 5px;
}