
<div class="secondBackground">
    <div class="containee">
    <div class="row gap-md-5 gap-sm-none mt-md-5">
        <div class=" col-md-6 col-sm-12">
           <h1 class="heading">
            Namma Yatri - <br>
            Community Enablers
           </h1>
           <hr>
           <p class="para">Building a people-first mobility solution</p>
           <button class="btn btn-primary ">Read More </button>
        </div>
        <div class="rdiv col-sm-11 col-md-5 ">
            
        </div>
    </div>
    </div>
 </div>
    