
<div class="secondBackground">
    <div class="containee">
    <div class="row gap-md-5 gap-sm-none mt-md-5">
        <div class=" col-md-6 col-sm-12">
           <h1 class="heading">
            Fast, Easy and <br>
            Safe Rides
           </h1>
           <hr>
           <p class="para">Blazingly fast, super-easy app to book rides. Door-step pickups by trusted drivers for your safe ride.</p>
           <button class="btn btn-primary  d-none  d-md-block">Download the App</button>
        </div>
        <div class="rdiv col-sm-11 col-md-5 ">
            
        </div>
    </div>
    </div>
 </div>
    