<div class="seventh">
    <div class="containe">
        <div class="heading">
            <h1>
                How it Works
                </h1>
            <hr >
        </div>

        <div class="buttons">
        
            <div class="btn btn-primary btnTop btnTop1" > Riders</div>
        
            <div class="btn btn-primary btnTop btnTop2" >  Drivers</div>

        </div>

        <div class="row line ">
            <div class="col-md-3 box box1 col-sm-12" >
                <div class="insideBox1 insideBox">
                    <div class="imgDiv imgDiv1">
                  
                    </div>
                    <div class="infoDiv ">
                        <div class="down down1  " style="margin: auto;">
                            <h3>Book</h3>
                            <p>Choose a ride and Driver</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box box2  col-sm-12">
                <div class="insideBox2 insideBox">
                    <div class="imgDiv imgDiv2">
                       
                    </div>
                    <div class="infoDiv">
                        <div class="down down2 " style="margin: auto;">
                            <h3>Ride</h3>
                            <p>Travel safe to your destination</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box box3 col-sm-12">
                <div class="insideBox3 insideBox ">
                    <div class="imgDiv imgDiv3">
                       
                    </div>
                    <div class="infoDiv">
                        <div class="down down3 " style="margin: auto;">
                            <h3>Pay Directly</h3>
                            <p >100% fare goes to the driver</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <button class="downlodBtn d-md-none">Downlod The App</button>
        
<!-- 
        <div class="d-flex justify-content-around">
            <div class="insideBox3 insideBox">
                <div class="imgDiv imgDiv3">
                   
                </div>
                <div class="infoDiv">
                    <div class="down down3" style="margin: auto;">
                        <h3>Pay Directly</h3>
                        <p>100% fare goes to the driver</p>
                    </div>
                </div>
            </div>
            <div class="insideBox3 insideBox">
                <div class="imgDiv imgDiv3">
                   
                </div>
                <div class="infoDiv">
                    <div class="down down3" style="margin: auto;">
                        <h3>Pay Directly</h3>
                        <p>100% fare goes to the driver</p>
                    </div>
                </div>
            </div>
            <div class="insideBox3 insideBox">
                <div class="imgDiv imgDiv3">
                   
                </div>
                <div class="infoDiv">
                    <div class="down down3" style="margin: auto;">
                        <h3>Pay Directly</h3>
                        <p>100% fare goes to the driver</p>
                    </div>
                </div>
            </div>
        </div> -->


    </div>
   
</div>
